.input {
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding-left: 10px;
  resize: none;
}

.button {
  width: 100%;
  height: 35px;
  margin-top: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}